<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - open</title>
    <link rel="stylesheet" href="/static/uikit-2.22.0/css/uikit.min.css"/>
    <link rel="stylesheet" href="/static/css/base.css"/>
    {% block style %}{% endblock %}
</head>
<body>
<div class="outerwrapper">
    <div class="pageheader">
        <ul>
            <li><a href="/">首页</a></li>
            <li><a href="#">笔记</a></li>
            <li><a href="#">源码</a></li>
        </ul>

        <div class="my-uk-search">
            <form class="uk-form">
                <input type="text" name="keyword" placeholder="关键字">
                <button class="uk-button uk-button-primary">搜索</button>
            </form>
        </div>
    </div>

    <div class="document">
        <div class="documentwrapper">
            <div class="bodywrapper">
                <div class="body">
                    <div class="section">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <div class="clearer"></div>
        <div class="footer">
            © Copyright 2014. Created using web.py[<a href="/manage">admin</a>]
        </div>
    </div>
</div>

</body>
<script src="/static/js/jquery-1.11.3.min.js"></script>
{% block script %}{% endblock %}
</html>