{% extends 'base-manage.html' %}

{% block title %}
manage blog
{% endblock %}

{% block style %}
<style>

</style>
{% endblock %}

{% block content %}
<div class="content">
    <form class="uk-form">

        <div class="uk-grid">
            <div class="uk-width-1-2"><input type="text" placeholder="" class="uk-width-1-1"></div>
            <div class="uk-width-1-4"><input type="text" placeholder="" class="uk-width-1-1"></div>
            <div class="uk-width-1-4"><input type="text" placeholder="" class="uk-width-1-1"></div>
        </div>

    </form>
</div>
{% endblock %}

{% block script %}

{% endblock %}